QAMELEON_LOG_LEVEL=INFO
QAMELEON_LOG_FORMAT=json
QAMELEON_DEFAULT_KEM=ML-KEM-768
QAMELEON_DEFAULT_SIG=ML-DSA-65
QAMELEON_QUANTUM_THREAT=0.1
QAMELEON_THREAT_THRESHOLD=0.7
QAMELEON_DASHBOARD_HOST=0.0.0.0
QAMELEON_DASHBOARD_PORT=8000
QAMELEON_DASHBOARD_AUTH=true
QAMELEON_SCA_PROTECTION=true
